.card-login {
  width: 40%;
  margin: 50px auto;
  background-color: #fafafa;
}

.card-login mat-form-field {
  width: 100%;
  margin-top: 20px;
}

.card-login mat-card-header {
  text-align: center;
}

.card-login .form-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
